<div class="container mx-auto py-10">
  <h1 class="text-3xl font-bold mb-6">
    {{ section.settings.title }}
  </h1>

  <div class="prose">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page common",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Tiêu đề hiển thị",
      "default": "Page title"
    }
  ]
}
{% endschema %}
