.topbar {
  width: 100%;
  background: #0d2704;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}


.topbar__inner {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box; 
  height: 33px;
}


.topbar__left,
.topbar__center,
.topbar__right {
  flex: 1;
  display: flex;
  align-items: center;
}


.topbar__left {
  justify-content: flex-start;
}


.topbar__center {
  justify-content: center;
  text-align: center;
  white-space: nowrap; 
}


.topbar__right {
  justify-content: flex-end;
  gap: 20px; 
  padding-right: 20px;
}

.topbar__social-list {
  display: flex;
  align-items: center;
  gap: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.topbar__social-link {
  display: flex;
  align-items: center;
}

.h2{
    color: white;
    font-weight: 100;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.topbar__social-link svg {
  transition: transform 0.2s ease;
}

.topbar__social-link:hover svg {
  transform: scale(1.15);
}

